
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Job Number</th>
            <td ng-repeat="version in report.report">
                 {{report.jobNumber}}
             </td>

        </tr>
        <tr>
            <th>Version Number</th>
            <td ng-repeat="version in report.report">
                {{version.version}}
            </td>

        </tr>
        <tr>
            <th>Pro Tools Operator</th>
            <td ng-repeat="version in report.report">
                {{version.proTools_operator}}
            </td>

        </tr>
        <tr>
            <th>Date?</th>
            <td ng-repeat="version in report.report">
                {{version.date | date:'yyyy-MM-dd'}}
            </td>

        </tr>
        <tr>
            <th>Missing Plugins?</th>
            <td ng-repeat="version in report.report">
                {{version.are_there_missing_plugins.yes_no}}
            </td>

        </tr>
        <tr>
            <th>Notes?</th>
            <td ng-repeat="version in report.report">
                {{version.are_there_missing_plugins.notes}}
            </td>

        </tr>
        <tr>
            <th>Project Organized?</th>
            <td ng-repeat="version in report.report">
               {{version.is_project_organized.yes_no}}
            </td>

        </tr>
        <tr>
            <th>Notes</th>
            <td ng-repeat="version in report.report">
                {{version.is_project_organized.notes}}
            </td>

        </tr>
        <tr>
            <th>Final Protools Notes</th>
            <td ng-repeat="version in report.report">
                {{version.notes}}
            </td>

        </tr>
        <tr>
            <th>Pass/Fail</th>
            <td ng-repeat="version in report.report">
                {{version.pass_fail}}
            </td>

        </tr>
    </tbody>
</table>
