<div>
<hr />
    <h2>Pro Tools</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="protools_jobs"></div>
            <label for="job_number">Job Number</label>
            <div class="form-inline">
                <div class="form-group">
                    <input type="number" ng-model="newReport.proTools.job_number" class="form-control" id="job_number" placeholder="Job Number" />
                    <a ng-click="addJob(newReport.proTools.job_number, 'protools_jobs', 'protools', 'v001')" class="btn btn-primary"><i class="fa fa-plus fa-lg"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
