<div>
<hr />
    <h2>Audio</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="audio_jobs"></div>
            <label for="job_number">Job Number</label>
            <div class="form-inline">
                <div class="form-group">
                    <input type="number" ng-model="newReport.audio_files.job_number" class="form-control" id="job_number" placeholder="Job Number" />
                    <a ng-click="addJob(newReport.audio_files.job_number, 'audio_jobs', 'Audio', 'v001')" class="btn btn-primary"><i class="fa fa-plus fa-lg"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
