
<div ng-show="newReport.assets_expected_for_qc.audio_files">
<hr />
    <h2>Audio</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="audio_job_number">Job Number</label>
                <input type="number" ng-model="newReport.audio_files.job_number" class="form-control" id="audio_job_number" placeholder="Job Number">
            </div>
            <div class="form-group">
                <label for="audio_qc_operator">QC Operator</label>
                <input type="text" ng-model="newReport.audio_files.qc_operator" class="form-control" id="audio_qc_operator" placeholder="qc_operator">
            </div>
            <div class="form-group">
                <label for="audio_date">Date</label>
                <input type="date" ng-model="newReport.audio_files.date" class="form-control" id="audio_date" placeholder="Date">
            </div>
            <div class="form-group">
                <label for="audio_file_type">File Type</label>
                <div class="checkbox">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newReport.audio_files.file_type.wav" id="audio_file_type1" value="WAV" />WAV
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newReport.audio_files.file_type.aiff" id="audio_file_type2" value="AIFF" />AIFF
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newReport.audio_files.file_type.mp3" id="audio_file_type3" value="MP3" />MP3
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newReport.audio_files.file_type.other" id="audio_file_type4" value="Other" />Other
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="full_mix_included">Full Mix: Included?</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" ng-model="newReport.audio_files.full_mix.included" name="audio_full_mix_included" id="audio_full_mix_included_yes" value="true" /> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="newReport.audio_files.full_mix.included" name="audio_full_mix_included" id="audio_full_mix_included_no" value="false" /> No
                    </label>
                </div>
            </div>
            <div ng-if="newReport.audio_files.full_mix.included =='true'">
                <div class="form-group">
                    <label for="full_mix_mono_stereo">Full Mix: Mono or Stereo</label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.full_mix.mono_stereo" name="audio_full_mix_mono_stereo" id="audio_full_mix_mono_stereo_stereo" value="Stereo" /> Stereo
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.full_mix.mono_stereo" name="audio_full_mix_mono_stereo" id="audio_full_mix_mono_stereo_mono" value="Mono" /> Mono
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="full_mix_twelve_frame_mute">Full Mix: Twelve Frame Mute</label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.full_mix.twelve_frame_mute" name="audio_full_mix_twelve_frame_mute" id="audio_full_mix_twelve_frame_mute_yes" value="true" /> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.full_mix.twelve_frame_mute" name="audio_full_mix_twelve_frame_mute" id="audio_full_mix_twelve_frame_mute_no" value="false" /> No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="full_mix_sample_rate">Full Mix: Sample Rate</label>
                    <input type="text" ng-model="newReport.audio_files.full_mix.sample_rate" class="form-control" id="audio_full_mix_sample_rate" placeholder="Fullmix: Sample Rate">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="full_mix_included">Splits: Included?</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" ng-model="newReport.audio_files.splits.included" name="audio_full_mix_included" id="audio_full_mix_included_yes" value="true" /> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="newReport.audio_files.splits.included" name="audio_splits_included" id="audio_splits_included_no" value="false" /> No
                    </label>
                </div>
            </div>
            <div ng-if="newReport.audio_files.splits.included =='true'">
                <div class="form-group">
                    <label for="splits_mono_stereo">Splits: Mono or Stereo</label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.splits.mono_stereo" name="audio_splits_mono_stereo" id="audio_splits_mono_stereo_stereo" value="Stereo" /> Stereo
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.splits.mono_stereo" name="audio_splits_mono_stereo" id="audio_splits_mono_stereo_mono" value="Mono" /> Mono
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="splits_twelve_frame_mute">Splits: Twelve Frame Mute</label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.splits.twelve_frame_mute" name="audio_splits_twelve_frame_mute" id="audio_splits_twelve_frame_mute_yes" value="true" /> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.splits.twelve_frame_mute" name="audio_splits_twelve_frame_mute" id="audio_splits_twelve_frame_mute_no" value="false" /> No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="splits_sample_rate">Splits: Sample Rate</label>
                    <input type="text" ng-model="newReport.audio_files.splits.sample_rate" class="form-control" id="audio_splits_sample_rate" placeholder="Splits: Sample Rate">
                </div>
            </div>

            <div class="form-group">
                <label for="five_one_included">5.1: Included?</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" ng-model="newReport.audio_files.five_one.included" name="audio_five_one_included" id="audio_five_one_included_yes" value="true" /> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="newReport.audio_files.five_one.included" name="audio_five_one_included" id="audio_five_one_included_no" value="false" /> No
                    </label>
                </div>
            </div>
            <div ng-if="newReport.audio_files.five_one.included =='true'">
                <div class="form-group">
                    <label for="five_one">5.1: Mono or Stereo</label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.five_one.mono_stereo" name="audio_five_one_mono_stereo" id="audio_five_one_mono_stereo_stereo" value="Stereo" /> Stereo
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.five_one.mono_stereo" name="audio_five_one_mono_stereo" id="audio_five_one_mono_stereo_mono" value="Mono" /> Mono
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="five_one_twelve_frame_mute">5.1: Twelve Frame Mute</label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.five_one.twelve_frame_mute" name="audio_five_one_twelve_frame_mute" id="audio_five_one_twelve_frame_mute_yes" value="true" /> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="newReport.audio_files.five_one.twelve_frame_mute" name="audio_five_one_twelve_frame_mute" id="audio_five_one_twelve_frame_mute_no" value="false" /> No
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="five_one_sample_rate">5.1: Sample Rate</label>
                        <input type="text" ng-model="newReport.audio_files.five_one.sample_rate" class="form-control" id="audio_five_one_sample_rate" placeholder="5.1: Sample Rate">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="after_effects_notes">Final Audio Notes</label>
                <textarea type="text" rows="3" ng-model="newReport.audio_files.notes" class="form-control" id="audio_notes">Notes</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="audio_pass_fail">Pass Or Fail</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" ng-model="newReport.audio.pass_fail" name="audio_pass_fail" id="audio_pass_fail_yes" value="pass"> Pass
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="newReport.audio.pass_fail" name="audio_pass_fail" id="audio_pass_fail_no" value="fail"> Fail
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>