<div ng-show="newReport.assets_expected_for_qc.video_files">
    <h2>Video</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="job_number">Job Number</label>
                <input type="number" ng-model="newReport.video_files.job_number" class="form-control" id="job_number" placeholder="Job Number" />
            </div>
            <div class="form-group">
                <label for="qc_operator">QC Operator</label>
                <input type="text" ng-model="newReport.video_files.qc_operator" class="form-control" id="qc_operator" placeholder="qc_operator" />
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" ng-model="newReport.video_files.date" class="form-control" id="date" placeholder="Date" />
            </div>
            <div class="form-group">
                <label for="total_files_received">Total Files Received</label>
                <input type="number" ng-model="newReport.video_files.total_files_received" class="form-control" id="total_files_received" placeholder="Total Files Received" />
            </div>
            <div class="form-group">
                <label for="codecs">Codecs</label>
                <input type="text" ng-model="newReport.video_files.codecs" class="form-control" id="codecs" placeholder="Codecs" />
            </div>
            <label for="frame_rates">Frame Rates</label>
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.frame_rates.a23967" id="video_files_frame_rates1" value="23.976" />23.976
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.frame_rates.b24" id="video_files_frame_rates2" value="24" />24
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.frame_rates.c25" id="video_files_frame_rates3" value="25" />25
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.frame_rates.d29976" id="video_files_frame_rates4" value="29.976" />29.976
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.frame_rates.other" id="video_files_frame_rates5" value="other" />other
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <label for="standards">Standards</label>
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.standards.HD_NTSC" id="video_files_standards1" value="HD NTSC" />HD NTSC
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.standards.SD_NTSC" id="video_files_standards2" value="SD NTSC" />SD NTSC
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.standards.HD_PAL" id="video_files_standards3" value="HD PAL" />HD PAL
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.standards.SD_PAL" id="video_files_standards4" value="SD PAL" />SD PAL
                </label>
            </div>
            <div class="form-group">
                <label for="aspect_ratios">Aspect Ratios</label>
                <input type="text" ng-model="newReport.video_files.aspect_ratios" class="form-control" id="aspect_ratios" placeholder="Aspect Ratios" />
            </div>
            <label for="durations">Durations</label>
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.durations.a10" id="video_files_durations1" value="10" />10
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.durations.b215" id="video_files_durations2" value="15" />15
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.durations.c20" id="video_files_durations3" value="20" />20
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.durations.d30" id="video_files_durations4" value="30" />30
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.durations.e60" id="video_files_durations5" value="60" />60
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.durations.f90" id="video_files_durations6" value="90" />90
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.durations.other" id="video_files_durations7" value="Other" />Other
                </label>
            </div>
            <label for="title_safety">Title Safety</label>
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.title_safety.a4x3" id="video_files_standards1" value="HD NTSC" />4X3
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.title_safety.b14x9" id="video_files_standards2" value="SD NTSC" />14X9
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.title_safety.c16x9" id="video_files_standards3" value="HD PAL" />16X9
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="newReport.video_files.title_safety.other" id="video_files_standards4" value="SD PAL" />Other
                </label>
            </div>
            <label for="title_safety">Master/Generic Included?</label>
            <div class="form-group">
                <div class="checkbox">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newReport.video_files.master" id="video_files_master" value="HD NTSC" />Master
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newReport.video_files.generic" id="video_files_generic" value="SD NTSC" />Generic
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="newReport.video_files.master_no_legals" id="video_files_master_no_legals" value="HD PAL" />Master No Legals
                    </label>
                </div>
                <label for="after_effects_notes">Final Video Notes</label>
                <textarea type="text" rows="3" ng-model="newReport.video_files.notes" class="form-control" id="video_notes">Notes</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="after_effects_pass_fail">Pass Or Fail</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" ng-model="newReport.video_files.pass_fail" name="video_pass_fail" id="video_pass_fail_yes" value="pass" /> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="newReport.video_files.pass_fail" name="video_pass_fail" id="video_pass_fail_no" value="fail" /> No
                </label>
            </div>
        </div>
    </div>
</div>
