<section id="home">

<table-general report='report'></table-general>
<table-video ng-repeat="item in report.video_files" report='item'>{{report}}</table-video>
<table-audio ng-repeat="item in report.audio_files" report='item'></table-audio>







<h2>After Effects</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Job Number</th>
            <th>Version Number</th>
            <th>AE Operator</th>
            <th>All Relevant Comps Editable?</th>
            <th>Notes</th>
            <th>Master Conforms?</th>
            <th>Master Renders?</th>
            <th>23.976</th>
            <th>24</th>
            <th>25</th>
            <th>29.976</th>
            <th>Other</th>
            <th>Project Organized?</th>
            <th>Notes</th>
            <th>Missing Plugins?</th>
            <th>Notes</th>
            <th>Final Notes</th>
            <th>Pass/Fail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>
                {{reports[0].after_effects[0].jobNumber}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].version}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].ae_operator}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].date}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].are_all_relevant_comps_editable.yes_no}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].are_all_relevant_comps_editable.notes}}
            </td>
            <td>
               {{reports[0].after_effects[0].report[0].are_there_master_conforms}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].are_there_master_renders}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].frame_rates.a23967}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].frame_rates.b24}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].frame_rates.c25}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].frame_rates.d29976}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].frame_rates.other}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].is_project_organized.yes_no}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].is_project_organized.notes}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].are_there_missing_plugins.yes_no}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].are_there_missing_plugins.notes}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].notes}}
            </td>
            <td>
                {{reports[0].after_effects[0].report[0].pass_fail}}
            </td>
        </tr>
    </tbody>
</table>


<h2>Flame</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Job Number</th>
            <th>Version Number</th>
            <th>Flame Operator</th>
            <th>Date?</th>
            <th>missing plugins?</th>
            <th>Notes?</th>
            <th>comps editable?</th>
            <th>Notes</th>
            <th>project organized?</th>
            <th>Notes</th>
            <th>setups provided?</th>
            <th>Tar?</th>
            <th>Within??</th>
            <th>Setups Organized?</th>
            <th>Notes?</th>
            <th>Master Conforms?</th>
            <th>Master Renders?</th>
            <th>23.976</th>
            <th>24</th>
            <th>25</th>
            <th>29.976</th>
            <th>Other</th>
            <th>Notes</th>
            <th>Pass/Fail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>
                {{reports[0].flame[0].jobNumber}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].version}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].flame_operator}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].date}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].are_there_missing_plugins.yes_no}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].are_there_missing_plugins.notes}}
            </td>
            <td>
               {{reports[0].flame[0].report[0].are_all_relevant_comps_editable.yes_no}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].are_all_relevant_comps_editable.notes}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].is_project_organized.yes_no}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].is_project_organized.notes}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].were_setups_provided.yes_no}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].if_yes_what_format.tar}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].if_yes_what_format.within}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].are_setups_organized.yes_no}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].are_setups_organized.notes}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].are_there_master_conforms.yes_no}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].are_there_master_renders.yes_no}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].frame_rates.a23967}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].frame_rates.b24}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].frame_rates.c25}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].frame_rates.d29976}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].frame_rates.other}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].notes}}
            </td>
            <td>
                {{reports[0].flame[0].report[0].pass_fail}}
            </td>
        </tr>
    </tbody>
</table>



<h2>Nuke</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Job Number</th>
            <th>Version Number</th>
            <th>Nuke Operator</th>
            <th>Date?</th>
            <th>Missing Plugins?</th>
            <th>Notes?</th>
            <th>Missing Fonts?</th>
            <th>Notes</th>
            <th>Setups Clearly Labeled?</th>
            <th>Notes</th>
            <th>Comps Editable?</th>
            <th>23.976</th>
            <th>24</th>
            <th>25</th>
            <th>29.976</th>
            <th>Other</th>
            <th>Notes</th>
            <th>Pass/Fail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>
                {{reports[0].nuke_projects[0].jobNumber}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].version}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].nuke_operator}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].date}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].are_there_missing_plugins.yes_no}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].are_there_missing_plugins.notes}}
            </td>
            <td>
               {{reports[0].nuke_projects[0].report[0].are_there_missing_fonts.yes_no}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].are_there_missing_fonts.notes}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].are_all_setups_clearly_labeled.yes_no}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].are_all_setups_clearly_labeled.notes}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].are_all_relevant_comps_editable.yes_no}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].are_all_relevant_comps_editable.notes}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].frame_rates.a23967}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].frame_rates.b24}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].frame_rates.c25}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].frame_rates.d29976}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].frame_rates.other}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].notes}}
            </td>
            <td>
                {{reports[0].nuke_projects[0].report[0].pass_fail}}
            </td>
        </tr>
    </tbody>
</table>


<h2>3D</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Job Number</th>
            <th>Version Number</th>
            <th>3D Operator</th>
            <th>Date?</th>
            <th>Missing Plugins?</th>
            <th>Notes?</th>
            <th>Comps Editable?</th>
            <th>Notes</th>
            <th>Missing Textures?</th>
            <th>Notes</th>
            <th>Clearly Labeled?</th>
            <th>Notes</th>
            <th>What Program was used?</th>
            <th>23.976</th>
            <th>24</th>
            <th>25</th>
            <th>29.976</th>
            <th>Other</th>
            <th>Notes</th>
            <th>Pass/Fail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>
                {{reports[0].three_d[0].jobNumber}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].version}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].operator}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].date}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].are_there_missing_plugins.yes_no}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].are_there_missing_plugins.notes}}
            </td>
            <td>
               {{reports[0].three_d[0].report[0].are_all_relevant_builds_editable.yes_no}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].are_all_relevant_builds_editable.notes}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].are_there_missing_textures.yes_no}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].are_there_missing_textures.notes}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].are_all_labels_clearly_labeled.yes_no}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].are_all_labels_clearly_labeled.notes}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].three_d_what_3d_program_was_used}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].frame_rates.a23967}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].frame_rates.b24}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].frame_rates.c25}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].frame_rates.d29976}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].frame_rates.other}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].notes}}
            </td>
            <td>
                {{reports[0].three_d[0].report[0].pass_fail}}
            </td>
        </tr>
    </tbody>
</table>


<h2>Pro Tools</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Job Number</th>
            <th>Version Number</th>
            <th>Pro Tools Operator</th>
            <th>Date?</th>
            <th>Missing Plugins?</th>
            <th>Notes?</th>
            <th>Project Organized?</th>
            <th>Notes</th>
            <th>Other</th>
            <th>Notes</th>
            <th>Pass/Fail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>
                {{reports[0].proTools[0].jobNumber}}
            </td>
            <td>
                {{reports[0].proTools[0].report[0].version}}
            </td>
            <td>
                {{reports[0].proTools[0].report[0].proTools_operator}}
            </td>
            <td>
                {{reports[0].proTools[0].report[0].date}}
            </td>
            <td>
                {{reports[0].proTools[0].report[0].are_there_missing_plugins.yes_no}}
            </td>
            <td>
                {{reports[0].proTools[0].report[0].are_there_missing_plugins.notes}}
            </td>
            <td>
               {{reports[0].proTools[0].report[0].is_project_organized.yes_no}}
            </td>
            <td>
                {{reports[0].proTools[0].report[0].is_project_organized.notes}}
            </td>
            <td>
                {{reports[0].proTools[0].report[0].notes}}
            </td>
            <td>
                {{reports[0].proTools[0].report[0].pass_fail}}
            </td>
        </tr>
    </tbody>
</table>


<h2>Other</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Job Number</th>
            <th>Version Number</th>
            <th>Pro Tools Operator</th>
            <th>Date?</th>
            <th>Missing Plugins?</th>
            <th>Notes?</th>
            <th>Project Organized?</th>
            <th>Notes</th>
            <th>Other</th>
            <th>Notes</th>
            <th>Pass/Fail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>
                {{reports[0].other[0].jobNumber}}
            </td>
            <td>
                {{reports[0].other[0].report[0].version}}
            </td>
            <td>
                {{reports[0].other[0].report[0].operator}}
            </td>
            <td>
                {{reports[0].other[0].report[0].date}}
            </td>
            <td>
                {{reports[0].other[0].report[0].notes}}
            </td>
            <td>
                {{reports[0].other[0].report[0].pass_fail}}
            </td>
        </tr>
    </tbody>
</table>

</section>















